
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From: Ample Samples</h1>
    <p>
        Thank you for your purchase, please click the link below. <br>
    </p>
    <p>
		    Link: <%= @link %>
    </p>
  </body>
</html>
