<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Client </h3>
      <p>
        Name of Label: <%= @client[:label] %>
        Company Distributing Your Project: <%= @client[:distributer] %>
        Contact Name: <%= @client[:contact_name] %>
        Address of Your Company: <%= @client[:company] %>
        Who will sign sample agreements?: <%= @client[:signer] %>
        Party Responsible for Payment(s): <%= @client[:payee] %>
        E-Mail Contact: <%= @client[:email] %>
        Telephone Number: <%= @client[:phone_number] %>
        Clearance Deadline: <%= @client[:clearance_deadline] %>
      </p>

    <h3>Submission</h3>
    <% @submission.each do |sub| %>
      <p>
        Name of Your Artist: <%= sub[:artist_name] %>
        Name of Your New Song: <%= sub[:song_name] %>
        Link to Your Song: <%= sub[:song_link] %> 
        Who are the writers of your song: <%= sub[:writers] %>
        Who are the publishers of your song: <%= sub[:publishers] %>
        What are your song splits: <%= sub[:splits] %> 
        Name of Sampled Song: <%= sub[:sampled_song] %>
        Link to Sampled Song: <%= sub[:link_sampled_song] %>
        Record Label of Sampled Song: <%= sub[:sampled_song_label] %>
        Writers of the Sampled Song: <%= sub[:writers_sampled_song] %>
        Publisher(s) of Sampled Song: <%= sub[:sampled_publishing] %>
        Description of the Sample Used: <%= sub[:sample_description] %>
        Master Sample Used: <%= sub[:master] %>
        Publishing Sample Used: <%= sub[:publishing_sample_used] %>
      </p>
    <% end %>
  </body>
</html>
