<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From: <%= @user.name %></h1>
    <p>
        Email: <%= @user.email %>.<br>
    </p>
    <p>
        Message: <%= @user.message %>.<br>
    </p>
  </body>
</html>
